body {
  background-color: #f4f7fb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
  background-color: #5dade2 !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaf3fa;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #cce3f5;
  border-top: 6px solid #5dade2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 600px;
  margin-top: 80px;
}

#fotoBox img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin: 5px;
  border-radius: 8px;
  border: 3px solid #5dade2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#btnCadastrar {
  font-size: 17px;
  font-weight: 600;
  background-color: #5dade2;
  border-color: #5dade2;
}

#btnEnviar {
  background-color: #5dade2;

}

footer {
  text-align: center;
}